html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 10000px;
}

/*========================== common ===========================*/
a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

button:hover {
  opacity: 0.6;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
}
/*========================== header ===========================*/

.header {
  padding: 20px 0 10px 0;
  position: sticky;
  top: -10px;
  background-color: #fff;
  z-index: 10;
  margin: 32px 0 40px 0;
}

.header .header-top {
  display: flex;
  align-items: center;
}

.header-top .logo {
  width: 127px;
  height: 37px;
  flex-shrink: 0;
}

.header-top .menu {
  display: flex;
  gap: 39px;
  margin: 0 auto;
}

.header .menu .cta {
  color: #2f3a3b;
  font-size: 1.6rem;
  line-height: normal;
}

.header .menu .cta.action {
  font-weight: 600;
}

.header .btn-sign-in {
  background-color: transparent;
  color: #494949;
  font-size: 1.6rem;
  line-height: normal;
}

header .btn-sign-up {
  width: 108px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  margin-left: 24px;
}

/*========================== hero ===========================*/
.hero {
  display: flex;
  justify-content: space-between;
}

/* hero left */
.hero-left {
  width: 45.214%;
}
.hero-left .icon {
  color: #767e7e;
  font-size: 1.4rem;
  line-height: normal;
}

.hero-left .title {
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 116.129%;
  padding-top: 18px;
}

.hero-left .describe {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 177.778%;
  margin-top: 46px;
}

.describe .bonus {
  display: inline-block;
}

.hero-left .get-started {
  display: flex;
  gap: 50px;
  margin-top: 52px;
}

.get-started .gs {
  width: 186px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.get-started .play {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

/* hero right */
.hero-right {
  width: 49.231%;
  display: flex;
  position: relative;
}

.hero-right .img {
  width: 576px;
  height: 631px;
  flex-shrink: 0;
  background-color: aquamarine;
  object-fit: cover;
}

.hero .card {
  position: absolute;
}

.hero-right .coursera {
  width: 157px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  top: 149px;
  right: 459px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.hero-right .coursera .icon {
  width: 36px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
}
.hero-right .coursera .sub-icon {
  width: 28px;
  height: 4px;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 29px;
}
.hero-right .coursera .title {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero-right .schedules {
  position: absolute;
  top: 453px;
  right: 517px;
  width: 124px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.schedules .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4px;
}

.schedules .rectangle {
  width: 74px;
  height: 6px;
  flex-shrink: 0;
}

.schedules .rectangle:last-child {
  margin-top: 4px;
}

.hero-right .student {
  width: 207px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 500px;
  right: 45px;
  display: flex;
  flex-direction: column;
}

.hero-right .student .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 17px 72px 8px 35px;
}
.hero-right .avatars {
  position: relative;
  width: 137px;
  margin-left: 35px;
}

.hero-right .avatar {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 33px;
  position: absolute;
}

.hero-right .av2 {
  left: 26px;
}
.hero-right .av3 {
  left: 52px;
}
.hero-right .av4 {
  left: 78px;
}

.hero-right .member {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #1ebfc1;
  position: absolute;
  left: 104px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
