html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/*========================== common ===========================*/
a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

button:hover {
  opacity: 0.6;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

h2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 56px; /* 133.333% */
}
/*========================== header ===========================*/

.header {
  padding: 20px 0 10px 0;
  position: sticky;
  top: -10px;
  background-color: #fff;
  z-index: 10;
  margin: 32px 0 40px 0;
}

.header .header-top {
  display: flex;
  align-items: center;
}

.logo {
  width: 127px;
  height: 37px;
  flex-shrink: 0;
}

.header-top .menu {
  display: flex;
  gap: 39px;
  margin: 0 auto;
}

.header .menu .top {
  color: #2f3a3b;
  font-size: 1.6rem;
  line-height: normal;
}

.header .menu .top.action {
  font-weight: 600;
}

.header .btn-sign-in {
  background-color: transparent;
  color: #494949;
  font-size: 1.6rem;
  line-height: normal;
}

header .btn-sign-up {
  width: 108px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  margin-left: 24px;
}

/*========================== hero ===========================*/
.hero {
  display: flex;
  justify-content: space-between;
}

/* hero left */
.hero-left {
  width: 45.214%;
}
.hero-left .icon {
  color: #767e7e;
  font-size: 1.4rem;
  line-height: normal;
}

.hero-left .title {
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 116.129%;
  padding-top: 18px;
}

.hero-left .describe {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 177.778%;
  margin-top: 46px;
}

.describe .bonus {
  display: inline-block;
}

.hero-left .get-started {
  display: flex;
  gap: 50px;
  margin-top: 52px;
}

.get-started .gs {
  width: 186px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.get-started .play {
  margin-top: 3px;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

/* hero right */
.hero-right {
  width: 49.231%;
  display: flex;
  position: relative;
}

.hero-right .img {
  width: 576px;
  height: 631px;
  flex-shrink: 0;
  background-color: aquamarine;
  object-fit: cover;
}

.hero .card {
  position: absolute;
}

.hero-right .coursera {
  width: 157px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  top: 149px;
  right: 459px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.hero-right .coursera .icon {
  width: 36px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
}
.hero-right .coursera .sub-icon {
  width: 28px;
  height: 4px;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 29px;
}
.hero-right .coursera .title {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero-right .schedules {
  position: absolute;
  top: 453px;
  right: 517px;
  width: 124px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.schedules .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4px;
}

.schedules .rectangle {
  width: 74px;
  height: 6px;
  flex-shrink: 0;
}

.schedules .rectangle:last-child {
  margin-top: 4px;
}

.hero-right .student {
  width: 207px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 500px;
  right: 45px;
  display: flex;
  flex-direction: column;
}

.hero-right .student .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 17px 72px 8px 35px;
}
.hero-right .avatars {
  position: relative;
  width: 137px;
  margin-left: 35px;
}

.hero-right .avatar {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 33px;
  position: absolute;
}

.hero-right .av2 {
  left: 26px;
}
.hero-right .av3 {
  left: 52px;
}
.hero-right .av4 {
  left: 78px;
}

.hero-right .member {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #1ebfc1;
  position: absolute;
  left: 104px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*========================== Features ===========================*/
.features {
  margin-top: 209px;
  width: 1024px;
  height: 559px;
}

.features .name {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

.features .title {
  width: 577px;
  margin: 18px 0;
}

.features .describe {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
  margin-bottom: 80px;
}

.features .section {
  display: flex;
  justify-content: space-between;
}

.features .group {
  width: 21.777%;
}

.features .group:first-child {
  width: 16.406%;
}
.features .group .icon {
  width: 102px;
  height: 106px;
  flex-shrink: 0;
}

.features .group .title {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.features .group .describe {
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 168.75%;
}

.features .group .db1 {
  width: 168px;
}
.features .group .db2 {
  width: 223px;
}
.features .group .db3 {
  width: 224px;
}

/*========================== Courses ===========================*/
.courses {
  margin-top: 130px;
}

.courses .name {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

.courses .title {
  margin-top: 18px;
  margin-bottom: 19px;
}

.courses .describe-courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 79px;
}

.describe-courses .describe {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 177.778%;
}

.describe-courses .view-courses {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.courses .cards {
  display: flex;
  justify-content: space-between;
}

.courses .card {
  position: relative;
}
.courses .img {
  width: 359px;
  height: 393px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #d0efed;
  object-fit: cover;
}

.courses .card .content {
  position: absolute;
  width: 325px;
  height: 195px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  top: 322px;
  left: 17px;
}

.courses .card .content .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
  margin: 18px 0 16px 25px;
}

.courses .card .content .price {
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
  margin: 0 0 6px 25px;
}

.price strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.courses .card .content .describe {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  margin: 0 0 18px 25px;
}

.courses .card .content .detail {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  margin: 0 0 29px 25px;
  display: flex;
  gap: 10px;
}

.courses .card .content .detail .classes,
.courses .card .content .detail .months {
  display: flex;
  align-items: center;
}
.courses .card .content .detail .classes::before,
.courses .card .content .detail .months::before {
  content: "";
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  background-color: #1ebfc1;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/*========================== countdown ===========================*/
.countdown {
  display: flex;
  margin-top: 265px;
  justify-content: space-around;
}

.countdown .value {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}

.countdown .title {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
  text-align: center;
}

/*========================== testimonial ===========================*/

.testimonial {
  display: flex;
  overflow: hidden;
}
.sub-testimonial {
  display: flex;
  margin-top: 264px;
  justify-content: space-between;
  gap: 72px;
}

.testimonial .content {
  position: relative;
  width: 419px;
}

.testimonial .icon {
  position: absolute;
  top: 37px;
  width: 36px;
  height: 29px;
  flex-shrink: 0;
}

.testimonial .blockquote {
  width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 48px; /* 150% */
  margin-top: 93px;
}

.testimonial .name {
  margin-top: 33px;
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
}

.testimonial .job {
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.testimonial .name::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  flex-shrink: 0;
  background: #070707;
  margin-right: 5px;
}
.testimonial .pictures {
  /* width: 58.034%; */
  width: 679px;
  height: 481px;
  position: relative;
}

.testimonial .btn-right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-left: 18px;
}

.testimonial .btn {
  margin-top: 51px;
}

.testimonial .pictures .img {
  position: absolute;
}

.testimonial .i1 {
  width: 92px;
  height: 92px;
  flex-shrink: 0;
  right: 443px;
}

.testimonial .i2 {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  top: 19px;
  right: 0;
}
.testimonial .i3 {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  top: 374px;
  right: 32px;
}
.testimonial .i4 {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  top: 403px;
  right: 389px;
}
.testimonial .i5 {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  top: 258px;
  right: 601px;
}
.testimonial .i6 {
  width: 235px;
  height: 235px;
  flex-shrink: 0;
  top: 107px;
  right: 171px;
}

/*========================== cta ===========================*/
.cta {
  margin-top: 130px;
  background-color: #def6f5;
}
.cta .cta-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta .title {
  width: 420px;
  margin-top: 76px;
}
.cta .describe {
  margin-top: 18px;
  margin-bottom: 88px;
  width: 397px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}
.cta .btn {
  width: 186px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #2ac9bf;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

/*========================== footer ===========================*/
.footer {
  margin-top: 131px;
  margin-bottom: 50px;
}

.footer .ft-body {
  display: flex;
  justify-content: space-between;
}

.footer .ft-body .column .row:first-child {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 26px;
}

.footer .ft-body .column .row {
  margin-bottom: 18px;
}

.footer .ft-body .column .row a {
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
}
.footer .ft-body .column:last-child .row a {
  display: flex;
  gap: 9px;
  align-items: center;
}

.footer .copyright {
  margin-top: 62px;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: normal;
}
